<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

        <!-- The first thing in any HTML file should be the charset -->
        <meta charset="utf-8" />

        <!-- Make the page mobile compatible -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Allow installing the app to the homescreen -->
        <meta name="mobile-web-app-capable" content="yes" />

        <meta name="theme-color" content="#865CD6" />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
        />

        <style type="text/css">
            body {
                margin: 0;
            }
        </style>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <!-- Display a message if JS has been disabled on the browser. -->
        <noscript
            >Если Вы видите это сообщение, значит
            <strong>у Вас отключен Javascript.</strong> Чтобы взаимодействовать
            с этим сайтом, <strong>включите JS</strong>. Спасибо.</noscript
        >
        <div id="app"></div>

        <%= reactcdn %>
    </body>
</html>
